.App {
  font: normal 1.6rem 'Poppins', sans-serif;
  min-height: 100vh;
  background: var(--main-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  font-weight: 600;

  &:hover {
    filter: brightness(90%);
  }
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
}
