.main {
  text-align: center;
  padding-bottom: 8rem;

  .btn.add {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4rem;

    .book-card {
      display: grid;
      gap: 1rem;
      padding: 2rem;
      background-color: var(--nav-bg);
      border-radius: var(--border-radius);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 200ms;

      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
      }

      p {
        word-wrap: break-word;

        &:first-child {
          font-size: 2.5rem;
        }

        &:nth-child(2) {
          font-size: 2rem;
        }

        &:last-child {
          font-size: 1.8rem;
        }
      }

      .btn-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        .card {
          font-size: 2rem;
          font-weight: normal;

          &:first-child {
            grid-column: 1 / 3;
          }

          &:nth-child(2):hover {
            background-color: lightskyblue;
            color: white;
          }

          &:last-child:hover {
            background-color: #fb607f;
            color: white;
          }
        }
      }
    }
  }
}
