.navbar {
  background-color: var(--nav-bg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-bg);

    a {
      font-size: 3rem;
      font-weight: bold;
      text-decoration: underline transparent;
      text-underline-position: under;
      transition: 100ms ease-out;

      &:hover {
        opacity: 0.6;
        text-decoration-color: lightgray;
      }
    }

    button {
      font-size: 1.6rem;
    }
  }
}
